html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 13px sans-serif;
  font-family: "Segoe UI";
}

label{
  font-weight: bold;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-row.full {
  height: 100%;
}

@import "//js.arcgis.com/3.14/dojox/form/resources/CheckedMultiSelect.css";

.dataSourceInfoLabel {
  font-weight: bold;
  margin-bottom: 10px;
}

.configLabel {
  margin-bottom: 10px;
}

.dojoxCheckedMultiSelect, .dojoxCheckedMultiSelectWrapper {
  height: inherit !important;
  margin: 0 !important;
  overflow-y: auto !important;
  border: none !important;
}

.dijitInline.dojoxMultiSelectItemLabel, .dijitInline.dijitCheckBox {
  display: inline;
}

.legend {
  list-style-type: none;
  font-size: 14px;
  margin-right: 20px;
}

.legend div {
  height: 16px;
  width: 20px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 6px;
  margin-bottom: -2px;
  margin-left: 2px;
}

.title {
  font-weight: bold;
}

#countList {
  margin: 0 0 0 10px;
  padding-left: 4px;
  padding-bottom: 4px;
}

#legend td {
  vertical-align: top;
  padding-top:6px;
}

#expandBtn {
  margin-left: -18px;
  margin-top: 4px;
  padding: 1px;
  float: left;
  width: 14px;
  height: 14px;
  border:none;
  opacity:0.5;
}

#expandBtn:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

#expandBtn:hover {
  opacity:1;
}


#TotalPeriod {
  width:145px;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

#TotalPeriod1 {
  float:left;
  --position:absolute; 
  overflow-x: hidden; 
  padding: 0 3px; 
  background-color:white; 
  margin-left:-24px; 
  padding-left:24px;
  padding-top:2px;
}

.hide {
  width:0 !important;
}

#key {
}

circle,
path {
  cursor: pointer;
}

circle {
  fill: url('#logo');
  pointer-events: all;
}


body {
  font: 11px sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

svg {
  display: block;
}

.pathLabel {
  pointer-events: none;
}

.pathLabel tspan{
  font-family: 'arial narrow';
  font-size: 14px;
  font-weight: bolder;
}

.helperPath {
  fill: none;
  --stroke: black;
}

#countText {
  font-size: 20px;
  font-weight: bold;
  fill: gray;
  text-anchor: middle;
  pointer-events:none;
}

.keys {
    margin: 1px 10px;
    background-color: gray;
    color:aliceblue;
    border: solid 2px rgba(255,255,255,0.75);
    font-size: 13px;
    font-weight: bolder;
    padding: 3px 9px;
    width: 200px;
    border-radius: 12px;
    cursor: pointer;
}

.dragKey {
  position:absolute;
  z-index: 10000;
  cursor: ns-resize;
  opacity:0.5;
}

.keys:hover {
  border: solid 2px transparent;
}

.keyName, .keyValue {
  pointer-events: none;
  display: inline-block;
}

.keyValue {
  float:right;
}

#refreshBtn {
  margin: 1px 10px;
  background-color: transparent;
  color: black;
  border: solid 2px #6fc0e7;
  font-size: 13px;
  font-weight: bolder;
  padding: 3px 9px;
  border-radius: 12px;
  display: inline-block;
  --opacity:0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.hideOpac {
  opacity:0;
}

#refreshBtn img {
  pointer-events: none;
  width: 18px;
  height: 18px;
  margin: -1px -6px -4px -6px;
}

#refreshBtn span {
  pointer-events: none;
  margin-left: 10px;
  display: none;
}

#refreshBtn:hover {
  --border: solid 2px rgba(100,100,100,0.75);
}

#refreshBtn:hover span {
  display: inline-block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2); 
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5); 
}